<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div id="carouselid" class="carousel-slide" data-ride="carousel">
		<!-- Dots -->
		<ol class="carousel-indicators">
			<li data-target="#carouselid" data-slide-to="0" class="active"></li>
			<li data-target="#carouselid" data-slide-to="1"></li>
			<li data-target="#carouselid" data-slide-to="2"></li>
			<li data-target="#carouselid" data-slide-to="3"></li>
		</ol>

			<!-- Image Part -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="" style="width: 100%">
				</div>
				<div class="item">
					<img src="" style="width: 100%">
				</div>
				<div class="item">
					<img src="" style="width: 100%">
				</div>
				<div class="item">
					<img src="" style="width: 100%">
				</div>
			</div>

			<!-- Left and Right arrows -->
			<a href="#carouselid" class="left carousel-control" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#carouselid" class="right carousel-control" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		
	</div>
</div>
</body>
</html>